* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.box-logo img,
.menu li:first-child,
h3:first-child,
.user .profile span {
    color: white;
}

.sidebar,
.user .download {
    color: #ccc;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    overflow: hidden;
}

li:hover,
.download span:hover,
.box-new-playlist h3:hover,
.plus:hover,
.player-left p:last-child:hover,
.player-left i:hover {
    color: #fff;
}

.box-new-playlist .plus:hover {
    background-color: #fff;
}

/* - - - - - - - SIDEBAR - - - - - - -*/

nav {
    width: 250px;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #ccc;
    font-weight: 600;
    font-size: 14px;
}

.box-logo {
    width: 150px;
    height: 60px;
    background: url(../img/logo.svg) no-repeat;
}

.menu {
    margin-top: 20px;
}

nav .menu li {
    margin-top: 6px;
}

nav li img {
    height: 30px;
    vertical-align: middle;
}

.playlist h3:first-child {
    padding-top: 25px;
}

.box-new-playlist {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 0;
}

.box-new-playlist h3 {
    font-size: 15px;
}

.box-new-playlist .plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    margin-right: 10px;
}

.box-new-playlist .plus span {
    color: #000;
    font-size: 50px;
}

.playlist ul li {
    padding: 10px 0;
}

.user .download img {
    height: 20px;
    vertical-align: middle;
    padding-right: 5px;
}

.menu-scroll {
    flex-grow: 1;
    min-width: 150px;
    overflow-y: auto;
}

.menu-scroll li {
    padding: 6px 0;
}

.user hr {
    margin: 13px 0;
}

.user .profile img {
    height: 30px;
    vertical-align: middle;
    background-color: #555;
    border-radius: 50%;
    margin-right: 5px;
}

.user .profile span {
    font-weight: bold;
    font-size: 16px;
}

/* - - - - - - - HEADER - - - - - - -*/

header {
    height: 80px;
    width: calc(100% - 250px);
    background: rgba(0,0,0,.4);
    z-index: 1;
    position: fixed;
    top:0;
}

header .button {
    border: 1px solid #fff;
    padding: 6px 20px;
    color: #fff;
    border-radius: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
}

header .button:hover {
    padding: 12px 26px;
    border-radius: 22px;
}

/* - - - - - - - MAIN - - - - - - -*/

main {
    width: calc(100% - 250px);
    height: calc(100vh - 80px);
    padding-top: 80px;
    background-color: rgb(10, 22, 32);
    overflow-y: scroll;
}

.nav-main {
    padding: 10px;
    color: #ccc;
}

.nav-main ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-main li {
    padding: 0 15px;
}

.container-main {
    width: calc(100% - 250px);
    padding: 20px;
}

.container-main h1:first-child {
    padding: 20px 0;
    color: #fff;
}

.box-img-songs {
    position: relative;
}

.button-songs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    font-size: 0px;
}

.box-img-songs:hover .button-songs {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .3);
    color: #fff;
    font-size: 70px;
}

.recently,
.create-for{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.artist {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.box-songs {
    width: 200px;
    margin-right: 20px;
}

.box-img-songs {
    width: 200px;
    height: 200px;
}

.box-img-songs img, .box-img-songs.artist {
    width: 100%;
    object-fit: cover;
}

.box-text-songs {
    text-align: center;
}

.box-text-songs h3 {
    color: #fff;
    padding: 10px 0;
}

.box-text-songs p {
    color: #777;
}

.title-section {
    color: #fff;
    padding: 10px 0;
}

.text-section {
    color: #777;
}

.box-img-songs.artist {
    border-radius: 50%;
    overflow: hidden;
}


/* - - - - - - - FOOTER - - - - - - */

footer {
    height: 100px;
    background-color: #333;
    display: flex;
}

.player-left, .player-right {
    overflow: hidden;
    width: 250px;
    max-width: calc(100%/3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

}

.player-center {
    width: calc(100% - 500px);
    overflow: hidden;
    min-width: 250px;
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
}

/* - - - - - - - PLAYER LEFT - - - - - - - */

.container-song {
    display: flex;
    align-items: center;
}

.img-player {
    width: 50px;
    height: 50px;
}

.img-player img {
    width: 100%;
}

.text-player {
    padding: 10px
}

.text-player p {
    font-size: 14px;
}

.text-player p:first-child {
    font-weight: bold;
    color: #fff;
}

.text-player p:last-child {
    color: #ccc;
}

.text-player p:last-child:hover {
    color:#fff;
    text-decoration: underline;
}

.container-icons-1 {
    font-size: 18px;
    color: #ccc;
}

.container-icons-1 i:first-child {
    padding-right: 10px;
}

/* - - - - - - - PLAYER CENTER - - - - - - - */

.player-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.player-buttons i {
    padding: 0 10px;
}

.player-buttons i:nth-child(3) {
    font-size: 36px;
    padding: 0 25px;
}

.player-buttons i:nth-child(3):hover {
    padding: 0 23px;
    font-size: 40px;
}

.container-progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
}

.progress-bar {
    background-color: #777;
    border-radius: 5px;
    height: 5px;
    width: 100%;
}

.progress-bar .progress {
    position: relative;
    border-radius: 5px;
    height: 5px;
    width: 25%;
    background-color: #ccc;
}

.progress .circle-progress {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top:-5px;
    right:0;
}

.progress:hover {
    background-color: green;
}

.text-bar {
    padding: 0 20px;
}

/* - - - - - - - PLAYER RIGHT - - - - - - -*/

.container-icons-2 {
    color: #fff;
}

.container-icons-2 i {
    padding: 0 10px;
}

.container-progress-bar-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}



@media screen and (max-width: 575px) {

    * {
        overflow: hidden;
    }

    nav{
        width: 40px;
        text-align: center;
        padding: 5px 0;
        position: relative;
    }

    .container-main, .nav-main {
        width: calc(100% - 40px);
        /* padding: 20px; */
    }

    main, header {
        width: calc(100% - 40px);
    }

    .box-logo {
        width: 30px;
        height: 30px;
        margin: 0 auto;
        background: url(../img/logo-small.svg) no-repeat;
    }

    h3,
    span,
    .playlist,
    hr,
    .menu-scroll {
        display: none;
    }

    .user .download {
        padding-bottom: 15px;
    }

    .user .profile {
        padding-bottom: 5px;
    }

    .menu-bottom {
        position: absolute;
        bottom: 0;
        left: 5px;
    }
    .player-left, .player-center, .player-right {
        padding: 0;
        justify-content: space-between;
        font-size:12px;
    }

    .player-right {
        justify-content: center;
    }

    .container-icons-2 i {
        padding: 0 5px;
    }

    .container-progress-bar-2 {
        width: 40%;
    }
}

@media screen and (min-width: 576px) and (max-width: 735px) {

    .player-left, .player-center, .player-right {
        padding: 0 10px;
        justify-content: space-between;
        font-size:12px;
    }

    .player-right {
        justify-content: center;
    }

    .container-icons-2 i {
        padding: 0 5px;
    }

    .container-progress-bar-2 {
        width: 40%;
    }
}

@media screen and (min-width: 330px) and (max-width: 530px) {

    footer{
        padding: 0;
        font-size: 12px;
    }

    .player-left, .player-center, .player-right {
        justify-content: space-between;
        font-size:12px;
    }

    .player-right {
        justify-content: center;
    }

    .container-icons-2 i {
        padding: 0 5px;
    }

    .container-progress-bar-2 {
        width: 20%;
    }
}