* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.box-logo img,
.menu li:first-child,
h3:first-child,
.user .profile span {
    color: white;
}

.sidebar,
.user .download {
    color: #ccc;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

nav {
    width: 280px;
    height: calc(100vh - 80px);
    background-color: #000;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 80px);
    padding: 20px;
    color: #ccc;
    font-weight: 600;
    font-size: 14px;
    position: relative;
}

.box-logo {
    width: 150px;
    height: 60px;
    background: url(../img/logo.svg) no-repeat;
}

.menu {
    margin-top: 20px;
}

nav ul {
    list-style: none;
}

nav .menu li {
    margin-top: 6px;
}

nav li img {
    height: 30px;
    vertical-align: middle;
}

.playlist h3:first-child {
    padding-top: 25px;
}

.box-new-playlist {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 0;
}

.box-new-playlist .plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    margin-right: 10px;
}

.box-new-playlist .plus span {
    color: #000;
    font-size: 50px;
}

.playlist ul li {
    padding: 10px 0;
}

.user {
    /* width: 100%;
    position: absolute;
    padding: 20px;
    bottom: 5px;
    left: 0; */
}

.user .download img {
    height: 20px;
    vertical-align: middle;
    padding-right: 5px;
}

.user hr {
    margin: 13px 0;
}

.user .profile img {
    height: 30px;
    vertical-align: middle;
    background-color: #555;
    border-radius: 50%;
    margin-right: 5px;
}

.user .profile span {
    font-weight: bold;
    font-size: 16px;
}

main {
    width: 100%;
    height: calc(100vh - 80px);
    padding-top: 80px;
    background-color: cornflowerblue;
}

header {
    height: 80px;
    width: 100%;
    background-color:crimson;
    position: fixed;
    top:0;
}

footer {
    height: 80px;
    width: 100%;
    background-color: darkmagenta;
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 575px) {

    nav, .sidebar {
        width: 40px;
        text-align: center;
        padding: 5px 0;
    }

    .box-logo {
        width: 30px;
        height: 30px;
        margin: 0 auto;
        background: url(../img/logo-small.svg) no-repeat;
    }

    h3, span, .playlist, hr {
        display: none;
    }

    .user .download {
        padding-bottom: 15px;
    }

    .user .profile {
        padding-bottom: 5px;
    }

}